extends ./index.jade
block append style
  link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  div#wrapper
    if !user
      div(class="navi")
        section#login
          form#loginForm(class="mainForm", name="loginForm", action="/login", method="POST")
            label(for="username")
            input#user(type="text", name="username", placeholder="username")
            label(for="pass")
            input#pass(type="password", name="pass", placeholder="password")
            input(type="hidden", name="_csrf", value="#{csrfToken}")
            a#loginSubmit(class="formSubmit", href="#") Sign in
        a(class="navi" href="/") Game
        a(class="navi" href="/highscore") Score Board
        a(class="navi" href="/signup") Sign up
    else
      div(class="navi")
        div(class='right')
          p#user Welcome, #{user}
          a(class="navi" href="/record") Your Records
          a(class="navi" href="/logout") Logout
        a(class="navi" href="/") Game
        a(class="navi" href="/highscore") Score Board
    .canvasDiv
      canvas(width="640px" height="640px")
      button#createRoom Create Room
      button#joinRoom Join Room
      button#instructions Instructions
      div#gameInfoBox

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/assets/game.js")