extends ./index.jade
block append style
  link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  div#wrapper
    if !user
      div(class="navi")
        section#login
          form#loginForm(class="mainForm", name="loginForm", action="/login", method="POST")
            label(for="username")
            input#user(type="text", name="username", placeholder="username")
            label(for="pass")
            input#pass(type="password", name="pass", placeholder="password")
            input(type="hidden", name="_csrf", value="#{csrfToken}")
            a#loginSubmit(class="formSubmit", href="#") Sign in
        a(class="navi" href="/") Game
        a(class="navi" href="/highscore") Score Board
        a(class="navi" href="/signup") Sign up
    else
      div(class="navi")
        div(class='right')
          p#user Welcome, #{user}
          a(class="navi" href="/record") Your Records
          a(class="navi" href="/logout") Logout
          input(type="hidden", name="_csrf", value="#{csrfToken}")
        a(class="navi" href="/") Game
        a(class="navi" href="/highscore") Score Board
    .canvasDiv
      canvas(width="640px" height="640px")
      button#createRoom Create Room
      button#joinRoom Join Room
      div#gameInfoBox
    h2 Current Session Score
    div#score
    h2 Instructions
    div#instructions
      ul
        li Gain energy and exp by grazing bullets.
        li You can graze bullets by letting it enter your graze radius
        li Bullets that are grazed with become gray (
          b They can still damage you!)
        li You can only attack when your attack bar is full
        li To attack enter your attack circle and press J
        li The closer you are to the center of the circle the higher your damage is
        li Your skill icon will light up (like below) when its useable
        
      img(src="/assets/img/instruction.png")

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/assets/game.js")