extends ./index.jade
block append style
  link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  div#wrapper
    h1 Account page
    div(class="navi")
        div(class='right')
          p#user Welcome, #{user}
          a(class="navi" href="/record") Your Records
          a(class="navi" href="/logout") Logout
        a(class="navi" href="/") Game
        a(class="navi" href="/highscore") Score Board

    section#record
      if !record || record.length == 0
        div.record
          h3 No Records Yet
      else
        each val in record
          div.record
            p.date Date: #{val.createdDate}
            p.user User: #{val.user}
            p.score Score: #{val.score}